<div id="Login">
    <h1>Login</h1>
    <div>
        <p>For acccess please login with your frontier account. This is to pull information about your commander from the official Elite Companion API. Once logged in you will be sent an activation code to your email. Enter the code on the next page to get started. Your password will be encrypted and stored on disk.</p>        
        <form>
            <label><span>Email</span><input type="text" ng-model="email" /></label>
            <label><span>Password</span><input type="password" ng-model="password" /></label>
            <button type="button" ng-click="login()">Login</button>
        </form>
    </div>
</div>