<div class="content-box">
    <h1>CMDR {{profile.commander.name}} / Systems</h1>
    <form class="search">
        <button type="button" class="fa nobg" ng-class="query.Fav == 1 ? 'fa-heart' : 'fa-heart-o'" ng-click="toggleFav()"></button>
        <input type="text" ng-model="query.SystemName" placeholder="system" />
        <button type="submit" ng-click="search()">Search</button>
    </form>
    <table class="full">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Last visited</th>
                <th>Coordinates</th>
                <th>Economy</th>
                <th>Allegiance</th>
                <th>Government</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sys in systems">                
                <td><heart system-id="{{sys.SystemId}}"></heart></td>
                <td><a href="#/system/{{sys.SystemId}}">{{sys.SystemName}}</a></td>
                <td>{{sys.DateStamp | toRelativeDate}} / {{sys.DateStamp | toGameTime}}</td>
                <td>{{sys.CoordX.toFixed(1)}}, {{sys.CoordY.toFixed(1)}}, {{sys.CoordZ.toFixed(1)}}</td>
                <td>{{sys.Economy || 'N/A'}}</td>
                <td>{{sys.Allegiance || 'N/A'}}</td>
                <td>{{sys.Government || 'N/A'}}</td>
                <td>{{sys.Population | delimited}}</td>
            </tr>
        </tbody>
    </table>
    <pager page-data="pageData"></pager>
</div>